<h3 class="first">Basic</h3>
<p-table [value]="cars">
  <ng-template pTemplate="header">
    <tr>
      <th>comidaId</th>
      <th>nombreIngrediente</th>
      <th>cantidad </th>
      <th>opcional </th>
      <th>tipoIngrediente</th>
      <th>necesitaRefrigeracion</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>cmmc</td>
      <td>ffsss</td>
      <td>ggss</td>
      <td>yyss</td>
      <td>ggss</td>
      <td>yyss</td>
    </tr>
  </ng-template>
</p-table>







