<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Plato" value="">

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder ="Descripcion " value="">

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder ="Nacionalidad " value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder ="Numero de Personas " value="">

  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder ="picante ">

  </mat-form-field>


  <mat-radio-group>
    <mat-radio-button value="1" >si</mat-radio-button>
    <mat-radio-button value="2" >no</mat-radio-button>
  </mat-radio-group>


</form>
<div>
  <button mat-button>ACEPTAR</button>
</div>

<div>
  <button mat-button>LIMPIAR</button>
</div>

