

<div class="row">
  <div class="col-md-3">

    primera parte
  </div>
  <div class="height100 col-md-3">
    segunda parte
  </div>
  <div class="height100 col-md-3">
    tercera parte
  </div>
  <div class="height100 col-md-3">
    cuarta parte
  </div>

</div>

<div class="row ">
  <div class="col-md-3 ">
    primera parte
  </div>
  <div class="col-md-3">
    segunda parte
  </div>
  <div class="col-md-3">
    tercera parte
  </div>
  <div class="col-md-3">
    cuarta parte
  </div>

</div>





