

<li>
  <ul>
    <div class="col-sm-6">
      <app-carrusel>

      </app-carrusel>

    </div>
    <div class="col-sm-6">
      <app-comida>

      </app-comida>
    </div>


  </ul>

  <ul>
    <div>
<h1>ggggg</h1>
      <app-grillas>

      </app-grillas>
    </div>

  </ul>

  <ul>
    <div class="col-sm-6">
      <app-ingredientes>

      </app-ingredientes>

    </div>
    <div class="col-sm-6">
      <app-carta>

      </app-carta>
    </div>
  </ul>

  <ul>
    <div class="col-sm-12">
      <app-tabla>

      </app-tabla>

    </div>
  </ul>


</li>





